<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Repo McRepoface</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta property="og:title" content="Repo McRepoface">
		<meta property="twitter:title" content="Repo McRepoface">
		<meta property="og:site_name" content="Repo McRepoface">
		<meta property="og:url" content="https://repos.slim.rocks">
		<meta property="twitter:url" content="https://repos.slim.rocks">
		<meta property="og:description" content="Sharable links for jailbreak tweak repositories. By SlimShadyIAm.">
		<meta property="twitter:description" content="Sharable links for jailbreak tweak repositories. By SlimShadyIAm.">
		<meta property="og:type" content="website">
		<meta property="twitter:card" content="summary">
		<meta property="og:image" content="https://media.discordapp.net/attachments/947340203100635249/947352699542831195/Download.png">
		<meta property="twitter:image" content="https://media.discordapp.net/attachments/947340203100635249/947352699542831195/Download.png">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
